.categories_block {
    height: 617px;
    padding: 40px 0px 112px 50px;
}

.categories_block_header {
    display: flex;
    align-items: center;
    gap: 102px;
}

.categories_block button {
    width: 120px;
    height: 31px;
    border: 2px solid #8B8B8B;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.03em;
    color: #8B8B8B;
    cursor: pointer;
}

.categories_block button:hover {
    transform: scale(1.05);
    transition: all .4s ease; 
}

@media (max-width: 375px) {

    .categories_block {
        height: max-content;
        padding: 40px 10px 25px 10px;
    }

    .categories_block_header {
        justify-content: space-between;
        gap: 0px;
    }

}