.category_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.category_card img {
    width: 318px;
    height: 350px;
    margin-bottom: 20px;
    object-fit: cover;
}

.category_card p {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.03em;
}

.category_card img:hover {
    transform: scale(1.05);
    transition: all .4s ease; 
}