.category_page {
    padding: 0 33px;
}

.category_page h2{
    margin-bottom: 81px;
}

.category_products_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 85px;
    margin: 34px 0 56px 0;
}

.sort_form {
    display: flex;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.03em;
    align-items: center;
}

@media (max-width: 375px) {

    .category_page {
        padding: 0 15px;
    }

    .category_products_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 30px;
    }

    .sort_form {
        flex-direction: column;
    }

    .category_page h2{
        margin-bottom: 40px;
    }

}