.discont_sort {
    /* display: flex;
    align-items: center; */
    /* gap: 39px; */
    margin-right: 91px;
    /* position: relative; */
}

.container {
  /* display: block; */
  display: flex;
  align-items: center;
  cursor: pointer;

  position: relative;
  

  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

/* Hide the browser's default checkbox */
.container input {
  height: 40px;
  width: 40px;
  margin-left: 39px;
  cursor: pointer;
  /* position: absolute; */
  opacity: 0;
  
}

/* Create a custom checkbox */
.checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: #E5E5E5;
  border: 1px solid #000000;
  border-radius: 7px;
  position: absolute;
  right: 0;

  font-size: 22px;
}

.check_icon {
  color: white;
  font-size: 22px;
}


/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  box-shadow: 10px 10px 10px #888888;
  /* background-color: rgba(51, 153, 51, 1); */
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}
