.discont_sort {
    margin-right: 91px;
}

.container {
  display: flex;
  align-items: center;
  cursor: pointer;

  position: relative;
}

/* Hide the browser's default checkbox */
.container input {
  height: 40px;
  width: 40px;
  margin-left: 39px;
  cursor: pointer;
  opacity: 0;
  
}

/* Create a custom checkbox */
.checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: #E5E5E5;
  border: 1px solid #000000;
  border-radius: 7px;
  position: absolute;
  right: 0;

  font-size: 22px;
}

.check_icon {
  color: white;
  font-size: 22px;
}


@media (max-width: 375px) {

  .discont_sort {
    width: 100vw;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
  }

}
