.categories_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 37px;
    margin: 20px 0;
}

@media (max-width: 375px) {
    .categories_container {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}