.header {
    min-width: 1440px;
    height: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px 0 26px;
    position: relative;
    margin-bottom: 64px;
}

.header_item, 
.nav_menu {
    display: flex;
    align-items: center;
}

.header button {
    margin-left: 59px;
    width: 129px;
    height: 49px;
    border: 2px solid #339933;
    border-radius: 5px;
    background-color: #339933;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
}

.nav_menu {
    gap: 57px;
    /* padding: 0 28px; */
    padding: 0 98px;
}

.nav_menu a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
}

.nav_menu a:hover {
    color: #339933;
}

.cart_container {
    position: absolute;
    right: 32px;
    top: 35px;

    min-width: 22px;
    min-height: 22px; 
}

.cart_icon {
    /* position: absolute; */
    /* right: 32px;
    top: 35px; */
    
}

.count {
    display: none;
} 

.count_true {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 22px;
    min-height: 22px;
    
    font-size: 0.8em;
    border: 1px solid #339933;
    border-radius: 50%;
    background-color: #339933;
    color: white;
    z-index: -1;

    position: absolute;
    /* right: 35px;
    top: 42px; */
    right: 3px;
    top: 8px;
} 

@media (max-width: 375px) {

    .header {
        margin-bottom: 5px;
        
        position: relative;
    }

    .nav_menu {
        position: absolute;
    }

    .header_item button {
        display: none;
    }

}