.header {
    min-width: 1440px;
    height: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px 0 26px;
    position: relative;
    margin-bottom: 64px;
}

.header_item, 
.nav_menu {
    display: flex;
    align-items: center;
}

.header button {
    margin-left: 59px;
    width: 129px;
    height: 49px;
    border: 2px solid #339933;
    border-radius: 5px;
    background-color: #339933;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
}

.nav_menu {
    gap: 57px;
    padding: 0 98px;
}

.nav_menu a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
}

.nav_menu a:hover {
    color: #339933;
}

.cart_container {
    position: absolute;
    right: 32px;
    top: 35px;

    min-width: 22px;
    min-height: 22px; 
}

.count {
    display: none;
} 

.count_true {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 22px;
    min-height: 22px;
    
    font-size: 0.8em;
    border: 1px solid #339933;
    border-radius: 50%;
    background-color: #339933;
    color: white;
    z-index: -1;

    position: absolute;
    right: 3px;
    top: 8px;
} 

.mobile_menu_icon {
    display: none;
    font-size: 30px;
}

.catalog_mobile_menu {
    display: none;
}

@media (max-width: 375px) {

    .header {
        min-width: 375px;
        padding: 0 15px 0 15px;
        margin-bottom: 0;
        position: relative;
    }

    .header button {
        display: none;
        z-index: -1;
    }

    .mobile_menu_icon {
        display: block;
        font-size: 30px;
     }

    .catalog_mobile_menu {
        display: block;
    }

    .cart_container {
        right: 70px;
    }

    .nav_menu {
        /* display: flex; */
        display: none;

        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        position: absolute;
        top: 80px;
        right: 0;
        padding: 10px;
        border-top: 1px solid #A7A7A7;;
        border-left: 1px solid #A7A7A7;;
        border-bottom: 1px solid #A7A7A7;;
        border-radius: 10px 0 0 10px;
        background-color: #fcfcfc;;
        box-shadow: 10px 10px 10px #888888;
        z-index: 2;

        /* transform: translateX(150%); */
    }

    .nav_menu.is_active {
        display: flex;
        /* transform: translateX(0%); */
    }


}