.sale_page {
    padding: 0 33px;
}

.sale_page h2{
    margin-bottom: 81px;
}

.sale_products_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 85px;
    margin: 34px 0 56px 0;
}

.sort_form {
    display: flex;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.03em;
    align-items: center;
}