.sale_block {
    height: 600px;
    background-color: #A1E2EB;
}

.content {
    display: flex;
    justify-content: space-between;

    position: relative;
}

.info {
    padding: 130px 0 0 50px;
}

.info h1 {
    font-weight: 700;
    font-size: 80px;
    line-height: 104px;
    color: #FFFFFF;
    margin-bottom: 3px;
}

.info h3 {
    font-weight: 700;
    font-size: 63px;
    line-height: 82px;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.btn_container {
    display: flex;
    gap: 10px;
}

.btn_container button {
    width: 241px;
    height: 82px;
    background: none;
    border: 5px solid #FFFFFF;
    border-radius: 13px;
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
    cursor: pointer;
}

.btn_container button:hover {
    background: #FFFFFF;;
    color: #2D2D2D;
    transition: all .4s ease; 
}

.sale_block img {
    position: absolute;
    right: 0;
    top: -79px;
}