
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
    color: #000000;
}

.content_wrapper {
    max-width: 1440px;
    min-width: 1440px;
    margin: 0 auto;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.03em;
}

@media (max-width: 375px) {

    .content_wrapper {
        max-width: 375px;
        min-width: 375px;
    }

}